# Visual Studio 缓存
.vs/
*.csproj
*.sln
*.suo
*.userprefs
*.pidb
*.sw?

# Unity 项目忽略规则
# 编辑器生成的目录
Library/
Temp/
obj/
Logs/
UserSettings/
Build/
ExportedObj/
TestResults/

# 编辑器生成的文件
*.unityproj
*.unitypackage
*.gpres
*.pidb.meta
*.suo.meta
*.sln.meta
*.userprefs.meta

# 平台特定文件
*.ipa
*.apk
*.aab

# 其他临时文件
UpgradeLog.htm

# 包管理
Packages/packages-lock.json

# 忽略测试场景
Assets/Scenes/test.unity
Assets/Scenes/test.unity.meta

# 忽略 Unity 自动生成的 csproj 文件
Assembly-CSharp.csproj
Assembly-CSharp.csproj.meta
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj.meta
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.csproj.meta